/*Week 4 RPG Game CSS*/

body { 
  	background: #777;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 18px;
	text-align: center;
}

header, section  {
	background-color: #e9e9e9;
	padding: 10px;
	margin: 5px 0 5px 0;
}

#presentFourFighters {
	width: 180px;
	height: 198px;
	margin: 5px;
	display: inline;
}

